<VirtualHost *:80>
  ServerName <%= node['web_hostname'] %>
  <% Array(node['web_aliases']).each do |host| %>
  ServerAlias <%= host %>
  <% end %>
  Redirect / https://<%= node['web_hostname'] %>/
</VirtualHost>
<VirtualHost *:443>
  ServerName <%= node['web_hostname'] %>
  <% Array(node['web_aliases']).each do |host| %>
  ServerAlias <%= host %>
  <% end %>

  SSLEngine on
  SSLCertificateFile  /var/lib/dehydrated/certs/<%= node['web_hostname']%>/cert.pem
  SSLCertificateKeyFile /var/lib/dehydrated/certs/<%= node['web_hostname'] %>/privkey.pem
  <% if File.stat("/var/lib/dehydrated/certs/#{ node['web_hostname'] }/fullchain.pem").size > 0 %>
  SSLCertificateChainFile /var/lib/dehydrated/certs/<%= node['web_hostname']%>/fullchain.pem
  <% end %>
  SSLCipherSuite ECDHE-RSA-AES256-SHA384:AES256-SHA256:!RC4:HIGH:!MD5:!aNULL:!EDH:!AESGCM

  Alias /munin /var/cache/munin/www
  <Directory /var/cache/munin/www>
    Allow from all
    Options -MultiViews
    Require all granted
  </Directory>

  DocumentRoot /usr/share/debci/public

  <Location /api>
    PassengerBaseURI /api
    PassengerAppRoot /usr/share/debci
    PassengerStartupFile /usr/lib/ruby/vendor_ruby/debci/config.ru
    PassengerAppType rack
    PassengerUser debci
  </Location>
  SSLCACertificateFile /srv/sso.debian.org/etc/debsso.crt
  SSLCARevocationCheck chain
  SSLCARevocationFile /srv/sso.debian.org/etc/debsso.crl
  <Location /api/v1/getkey>
    SSLOptions +StdEnvVars
    SSLVerifyClient require
  </Location>
  <Location /api/v1/retry>
    SSLOptions +StdEnvVars
    SSLVerifyClient optional
  </Location>

  ErrorLog ${APACHE_LOG_DIR}/debci.error.log
  CustomLog ${APACHE_LOG_DIR}/debci.access.log combined
  <Directory /usr/share/debci/public>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>
  <IfModule mod_headers.c>
    <FilesMatch "log$">
      Header set Content-Type "text/plain; charset=utf-8"
    </FilesMatch>
    <FilesMatch "log\.gz$">
      Header append Content-Encoding gzip
      Header set Content-Type "text/plain; charset=utf-8"
    </FilesMatch>
  </IfModule>
</VirtualHost>

# vim: ft=apache
