# MANAGED WITH CHEF; DON'T CHANGE BY HAND
lxc.network.type = veth
lxc.network.link = virbr0
lxc.network.flags = up
<% Hash(node['lxc_extra_config']).each do |key, value| %>
<%= key %> = <%= value %>
<% end %>
