client
dev tun
port 1194
proto udp

remote <%= node['openvpn_client']['server'] %> 1194
nobind

ca   /etc/openvpn/ca.crt
cert /etc/openvpn/<%= node["fqdn"] %>.crt
key  /etc/openvpn/<%= node["fqdn"] %>.key

comp-lzo
persist-key
persist-tun

verb 3
