port 1194
proto udp
dev tun

ca      /etc/openvpn/ca.crt    # generated keys
cert    /etc/openvpn/<%= node["fqdn"] %>.crt
key     /etc/openvpn/<%= node["fqdn"] %>.key  # keep secret
dh      /etc/openvpn/dh2048.pem

server <%= node['openvpn_server']['network'] %> 255.255.255.0  # internal tun0 connection IP
ifconfig-pool-persist ipp.txt

keepalive 10 120

comp-lzo         # Compression - must be turned on at both end
persist-key
persist-tun

status openvpn-status.log

verb 3  # verbose mode
client-to-client

client-config-dir client-config
