deb <%= @mirror %> stretch main
deb-src <%= @mirror %> stretch main

deb http://security.debian.org/ stretch/updates main
deb-src http://security.debian.org/ stretch/updates main
deb <%= @mirror %> stretch-updates main
deb-src <%= @mirror %> stretch-updates main
